---
import { getCollection } from 'astro:content';
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Container from '../../components/Container.astro';
import ContentCard from '../../components/ContentCard.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';

// Get all non-draft blog posts
const allBlogPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true
);

// Sort by newest
allBlogPosts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Notes From The Forge">
  <Section>
    <Container>
      <Breadcrumbs crumbs={[{ label: 'Blog' }]} />
      <Heading
        highlight={['The Forge']}
        title="Notes From The Forge"
        subtitle="Dive deep on topics of real and digital experiences, mindset, time, alchemy, and solopreneurship"
      />
      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
        {allBlogPosts.map((post) => <ContentCard {...post} />)}
      </div>
    </Container>
  </Section>
</Layout>
