---
import Container from '../../../components/Container.astro';
import GradientBlur from '../../../components/GradientBlur.astro';
import Heading from '../../../components/Heading.astro';
import Section from '../../../components/Section.astro';
---

<Section className="bg-primary relative overflow-hidden" id="projects">
  <Container>
    <Heading
      title="How I Can Help You"
      subtitle="Explore all the projects I have launched"
      position="center"
    />
  </Container>
  <GradientBlur />
</Section>
