---
import { Image } from 'astro:assets';
import ArrowRight from '../../../assets/arrow_right.png';
import Container from '../../../components/Container.astro';
import Heading from '../../../components/Heading.astro';
import Section from '../../../components/Section.astro';
import NewsletterForm from '../../../components/svelte/NewsletterForm.svelte';
import RevealAnimation from '../../../components/RevealAnimation.astro';
---

<Section className="bg-primary relative overflow-hidden">
  <Container className="relative">
    <Heading
      className="relative z-10"
      position="center"
      title="What is a digital blacksmith?"
    />
    <div class="flex flex-col md:flex-row gap-8 items-center justify-between">
      <div class="text-lg space-y-8 flex-1">
        <p class="animate">
          Digital Blacksmiths are individuals who have mastered the art of
          creation, learning, perseverance, experiences, and relationships. They
          have aligned their lives with their goals and purpose. They are
          someone who can change and shape the very fabric of this digital
          world. Taking seemingly uninspiring items and forging them into
          awe-inspiring pieces
        </p>
        <p class="animate">
          The purpose of digital blacksmiths is to build tight-knit guilds of
          people who share knowledge and teach others. They are community-driven
          individuals seeking to push others forward in their pursuit of
          fulfillment and freedom. They do this through life-long learning and
          becoming the best versions of themselves. By being mentors to their
          apprentices. By transforming into idols others can look up to.
        </p>
        <p class="animate">
          They have developed traits very few people possess: <strong
            >perseverance, integrity, community-drivenness, life-long learning,
            creativity, problem-solving, patience, and leadership.</strong
          >
        </p>
        <p class="animate">
          If you are someone who relates to this, If you are someone who sees
          immense value in becoming a digital blacksmith, Or if you are someone
          seeking to forge your own path, just sign this creed with your first
          name and your email address. Become a Digital Blacksmith. Change your
          life. Help others do the same. Become one of us.
        </p>
      </div>
      <div class="flex-1 w-full z-10 p-6 card bg-black/30 animate">
        <div>
          <NewsletterForm client:visible />
        </div>
      </div>

      <div
        class="hidden absolute bottom-[-10%] w-[calc(100%-16px)] md:flex items-center justify-center"
      >
        <Image src={ArrowRight} alt="Arrow pointing to the right" width={360} />
      </div>
    </div>
  </Container>
  <RevealAnimation />
</Section>
