---
import Breadcrumbs from '../../components/Breadcrumbs.astro';
import Container from '../../components/Container.astro';
import Section from '../../components/Section.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Resources">
  <Section>
    <Container>
      <Breadcrumbs crumbs={[{ label: 'Resources' }]} />
    </Container>
  </Section>
</Layout>
