<div class="card bg-white/20 shadow-xl overflow-hidden">
	<div class="w-full h-[200px] bg-zinc-500"></div>
	<div class="card-body">
		<h2 class="card-title">The Creator Economy</h2>
		<p class="text-sm">2023-08-08</p>
		<p class="mb-4">
			Value creators earn with their mind, not their time, because one man’s
			labor cannot scale, but their creative ability can.
		</p>
		<div class="card-actions justify-center">
			<button class="btn btn-primary btn-md btn-block">Read full post</button>
		</div>
	</div>
</div>
