---
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div class={twMerge('container mx-auto p-4', className)}>
  <slot />
</div>
