---
import { footerNavigation } from '../utils/navigation';
import Container from './Container.astro';
import Section from './Section.astro';
---

<footer class="border-t border-t-primary/20">
  <Section>
    <Container>
      <div class="flex flex-col md:flex-row gap-x-32 gap-y-16">
        <div>Vayne Myko</div>
        <div class="flex flex-col md:flex-row gap-x-32 gap-y-16">
          {
            footerNavigation.map((item) => (
              <div>
                <div class="mb-4 font-bold text-xl">{item.section}</div>
                <ul class="space-y-2">
                  {item.navigation.map((item) => (
                    <li>
                      <a href={item.href} target="_blank">
                        {item.label}
                      </a>
                    </li>
                  ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </Container>
  </Section>
</footer>
