---
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class={twMerge(
    'bg-black min-h-screen relative overflow-hidden flex',
    className
  )}
>
  <slot />
</div>
