---
import { Image } from 'astro:assets';
import VayneMykoLogo from '../assets/vayne_myko_icon.png';
---

<div class="flex items-center gap-4">
  <Image src={VayneMykoLogo} alt="Vayne Myko Logo" width={30} />
  <strong>Vayne Myko</strong>
</div>
