---
import GradientBlur from './GradientBlur.astro';
import H2 from './H2.astro';
import NewsletterForm from './svelte/NewsletterForm.svelte';
import { Image } from 'astro:assets';
import Anvil from '../assets/anvil.png';
---

<div
  class="card bg-primary w-full max-w-5xl p-24 space-y-4 relative overflow-hidden"
>
  <H2 className="animate z-10 text-center">
    Join the Digital Blacksmith movement and learn how to take back control, and
    forge your own path.
  </H2>

  <p class="animate z-10 text-center">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <div class="z-10">
    <NewsletterForm client:visible />
  </div>

  <GradientBlur />

  <div class="absolute w-[50px] h-[50px] top-[2%] left-[2%] float z-0">
    <Image
      src={Anvil}
      alt="Anvil image"
      class="absolute inset-0 w-full h-full hover:scale-125 transition"
    />
  </div>
</div>
