---
import H2 from './H2.astro';
---

<div class="card bg-primary w-full max-w-5xl p-24 space-y-4">
  <H2 className="animate">
    Join the Digital Blacksmith movement and learn how to take back control, and
    forge your own path.
  </H2>
  <p class="animate">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.
  </p>
  <div class="flex gap-4 items-center animate">
    <div class="flex-1 form-control w-full">
      <input
        type="text"
        placeholder="Enter Your Email Address"
        class="input input-bordered w-full"
      />
    </div>
    <div>
      <button class="btn btn-neutral">Join +30k readers</button>
    </div>
  </div>
</div>
