---
import { Image } from 'astro:assets';
---

<div class="card overflow-hidden transition-transform hover:scale-[1.02]">
  <div class="w-full max-h-[400px] overflow-hidden">
    <Image
      src="https://cdn.pixabay.com/photo/2023/07/12/07/07/cat-8121892_1280.jpg"
      alt="cat"
      width="100%"
      height={400}
      class="w-full max-w-[100%]"
    />
  </div>
  <div class="card-body bg-accent/20">
    <h2 class="card-title">The Creators Twitter & Landing Page Swipe File</h2>
    <p class="mb-4">
      Value creators earn with their mind, not their time, because one man’s
      labor cannot scale, but their creative ability can.
    </p>
    <div class="card-actions justify-center">
      <button class="btn btn-primary btn-md btn-block">Get it free</button>
    </div>
  </div>
</div>
