---
import { twMerge } from 'tailwind-merge';

interface Props {
  className?: string;
  id?: string;
}

const { className, id } = Astro.props;
---

<section class={twMerge('py-12 md:py-24', className)} id={id}>
  <slot />
</section>
