---
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
---

<Section id="about">
  <Container>
    <Heading
      highlight={['Vayne Myko']}
      title="Who is Vayne Myko?"
      subtitle="A digital blacksmith on a mission to build a community of digital artisans"
      position="center"
    />
    <div class="flex flex-col md:flex-row gap-8">
      <p class="flex-1 text-lg">
        <strong>Hey, I'm Vayne Myko.</strong>
        <br />
        <br />
        <strong
          >I'm a Digital Blacksmith and I help other creators and businesses get
          off the ground.</strong
        >
        <br />
        <br />
        I'm the person other people reach out to when they feel lost on their creator
        or business journey, experiences, vision, mindset, lifestyle, and productivity.
        <br />
        <br />
        I help them break down difficult topics into easily digestable pieces, refine
        their vision, and help them push their business so they could earn more while
        working less hours by methodically increasing productivity.
        <br />
        <br />
        Whenever someone wants to start their online journey as a creator or a business,
        I help them find their <strong>archetype</strong> and create systems for
        success.
      </p>
      <div class="flex-1 relative group">
        <div
          class="bg-zinc-500 h-[600px] flex-1 card relative overflow-hidden z-10 transition-transform hover:scale-[1.02]"
        >
          <!-- <Image src={MyImage} alt="image" class="absolute inset-0" /> -->
        </div>

        <div
          class="bg-primary h-[600px] card absolute transition translate-x-2 translate-y-2 group-hover:translate-x-3 group-hover:translate-y-3 inset-0 blur-0 group-hover:blur-[20px]"
        >
        </div>
        <div
          class="bg-secondary h-[600px] card absolute transition -translate-x-2 -translate-y-2 group-hover:-translate-x-3 group-hover:-translate-y-3 inset-0 blur-0 group-hover:blur-[20px]"
        >
        </div>
      </div>
      <div class="flex-1 text-lg">
        I started out as a translator who quickly found out he didn't like his
        job. I started doing graphic design on the side but eventually ended up
        with a master's degree in Information Systems Management and climbing up
        the corporate ladder as the lead front-end developer, and team lead for
        the largest e-pharmacy in the region.
        <br />
        <br />
        This was the tipping point in my career. I wanted to do more and help more
        people on their journey to fulfillment.
        <br />
        <br />
        <strong
          >My ultimate goal as the Digital Blacksmith is to create a guild of
          digital artisans.</strong
        > A community of people who help others in different avenues of life and
        businesses. The ultimate community and access to a network of life-changing
        opportunities.
      </div>
    </div>
  </Container>
</Section>
