---
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
---

<Section id="about">
  <Container>
    <Heading
      highlight={['Vayne Myko']}
      title="Who is Vayne Myko?"
      subtitle="A digital blacksmith crafting real and digital experiences"
      position="center"
    />
    <div class="flex gap-8">
      <div class="flex-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum
      </div>
      <div class="flex-1 relative group">
        <div
          class="bg-zinc-500 h-[600px] flex-1 card relative overflow-hidden z-10 transition-transform hover:scale-[1.02]"
        >
          <!-- <Image src={MyImage} alt="image" class="absolute inset-0" /> -->
        </div>

        <div
          class="bg-primary h-[600px] card absolute transition-transform translate-x-2 translate-y-2 group-hover:translate-x-3 group-hover:translate-y-3 inset-0"
        >
        </div>
        <div
          class="bg-secondary h-[600px] card absolute transition-transform -translate-x-2 -translate-y-2 group-hover:-translate-x-3 group-hover:-translate-y-3 inset-0"
        >
        </div>
      </div>
      <div class="flex-1">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum
      </div>
    </div>
  </Container>
</Section>
