---
import { getCollection } from 'astro:content';
import BlogPostCard from '../../components/BlogPostCard.astro';
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
import routes from '../../utils/routes';

// Get all non-draft blog posts
const allBlogPosts = await getCollection(
  'blog',
  ({ data }) => data.draft !== true
);

// Return only 6 recent blog posts
const blogPosts = allBlogPosts.splice(0, 6);
---

<Section id="blog">
  <Container>
    <Heading
      highlight={['The Forge']}
      title="Notes From The Forge"
      subtitle="Dive deep on topics of real and digital experiences, mindset, time, alchemy, and solopreneurship"
      position="center"
    />
    <div class="grid md:grid-cols-3 gap-8 mb-16">
      {blogPosts.map((post) => <BlogPostCard {...post} />)}
    </div>
    <div class="flex justify-center">
      <a href={routes.blog} class="btn btn-outline btn-md">Browse all notes</a>
    </div>
  </Container>
</Section>
