---
import Card from '../../components/Card.astro';
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
import routes from '../../utils/routes';
---

<Section id="blog">
  <Container>
    <Heading
      title="Notes From The Forge"
      subtitle="Documenting the digital process. Dive deep on topics of real and digital experiences, mindset, time, and the digital world"
    />
    <div class="grid md:grid-cols-3 gap-8 mb-16">
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
      <Card />
    </div>
    <div class="flex justify-center">
      <a href={routes.blog} class="btn btn-white">Browse all posts</a>
    </div>
  </Container>
</Section>
