---
import Container from '../../components/Container.astro';
import NewsletterCTACard from '../../components/NewsletterCTACard.astro';
import Section from '../../components/Section.astro';
---

<Section>
  <Container className="flex justify-center">
    <NewsletterCTACard />
  </Container>
</Section>
