---
import H1 from '../../components/H1.astro';
import H2 from '../../components/H2.astro';
import HeroWrapper from '../../components/HeroWrapper.astro';
import NewsletterForm from '../../components/svelte/NewsletterForm.svelte';
---

<section>
  <HeroWrapper className="justify-center">
    <div class="flex-1 flex items-center p-16 max-w-4xl text-center">
      <div class="flex flex-col space-y-8 flex-1">
        <H1 className="animate" highlight={['digital', 'blacksmith', 'your']}>
          ready to forge your path? <br /> become a digital blacksmith
        </H1>
        <H2 className="animate">
          Join <strong>"The Anvil"</strong>. Forge your own path every Saturday
          with topics on experiences, solopreneurship, alchemy, and mindset.
        </H2>
        <div>
          <NewsletterForm client:idle />
        </div>
        <!-- <div class="flex gap-4 items-center animate">
          <div class="flex-1 form-control w-full">
            <input
              type="text"
              placeholder="Enter Your Email Address"
              class="input input-bordered w-full"
            />
          </div>
          <div>
            <button class="btn btn-primary">Join the readership</button>
          </div>
        </div> -->
      </div>
    </div>
    <!-- <div class="bg-zinc-500 p-16 flex-1 relative overflow-hidden"> -->
    <!-- <Image src={MyImage} alt="image" class="absolute inset-0" /> -->
    <!-- </div> -->
  </HeroWrapper>
</section>
