---
import { Image } from 'astro:assets';
import Hammer from '../../assets/hammer.png';
import ModiggoLogo from '../../assets/modiggo_logo.png';
import Container from '../../components/Container.astro';
import GradientBlur from '../../components/GradientBlur.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
---

<Section className="bg-primary relative overflow-hidden" id="projects">
  <Container className="z-10 relative">
    <Heading
      title="My Projects"
      subtitle="Explore other projects I have launched over the years"
      position="center"
    />
    <div class="flex justify-center">
      <div
        class="p-6 w-[320px] h-[200px] animate shadow-sm shadow-black/10 bg-black/20 border border-black/10 card items-center justify-center transition-transform hover:!scale-[1.02]"
      >
        <a href="https://modiggo.com" target="__blank">
          <div class="text-center space-y-4">
            <Image src={ModiggoLogo} alt="Modiggo Project Logo" />
            <p>Custom web development as a subscription</p>
          </div>
        </a>
      </div>
    </div>
  </Container>
  <GradientBlur />
  <div class="w-[80px] h-[80px] absolute top-[5%] right-[5%] float animate">
    <Image
      src={Hammer}
      alt="time hologram"
      class="absolute inset-0 w-full h-full hover:scale-125 transition"
    />
  </div>
</Section>
