---
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
---

<Section id="projects">
  <Container>
    <Heading
      title="My Projects"
      subtitle="Explore all the projects I have launched"
    />
  </Container>
</Section>
