---
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
---

<Section>
  <Container>
    <Heading title="My Projects" />
  </Container>
</Section>
