---
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import ProductCard from '../../components/ProductCard.astro';
import Section from '../../components/Section.astro';
---

<Section id="resources">
  <Container>
    <Heading
      highlight={['Toolbox']}
      title="The Toolbox"
      subtitle="Use these tools on your journey to becoming a digital blacksmith"
      position="center"
    />
    <div class="grid grid-cols-3 gap-8">
      <ProductCard />
      <ProductCard />
      <ProductCard />
    </div>
  </Container>
</Section>
