---
import { getCollection } from 'astro:content';
import Container from '../../components/Container.astro';
import Heading from '../../components/Heading.astro';
import Section from '../../components/Section.astro';
import routes from '../../utils/routes';
import ContentCard from '../../components/ContentCard.astro';

// Get all non-draft blog posts
const allResources = await getCollection(
  'resources',
  ({ data }) => data.draft !== true
);

// Sort by newest
allResources.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

// Return only 6 recent blog posts
const resources = allResources.splice(0, 6);
---

<Section id="resources">
  <Container>
    <Heading
      highlight={['Toolbox']}
      title="The Toolbox"
      subtitle="Use these tools on your journey to becoming a digital blacksmith"
      position="center"
    />
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
      {resources.map((post) => <ContentCard {...post} />)}
    </div>
    <div class="flex justify-center">
      <a href={routes.resources} class="btn btn-outline btn-md"
        >Browse all tools</a
      >
    </div>
  </Container>
</Section>
